# Assignment-1

1)

In [22]:
n = int(input("enter number of rows:"))
for i in range(0,n+1):
  for j in range(0,n-i):
     print('5',end=' ')
  print()

enter number of rows:5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

2)

In [3]:
n = int(input("enter number of rows:"))
for i in range(n,0,-1):
  for j in range(0,i+1):
    print(j,end=' ')
  print()

enter number of rows:5
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

3)

In [4]:
rows = 5 
i = 1
while i <= rows:
  j =1
  while j<= i:
    print((i*2-1),end=' ')
    j = j+1
  i = i + 1
  print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

4)

In [5]:
i = 6
for i in range(1,i):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

5)

In [21]:
a = 1
b = 2
int_number = b
for i in range(2,6):
  for j in range(a,b):
    int_number -= 1
    print(int_number ,end=" ")
  print()
  a = b
  b += i
  int_number = b

1
3 2
6 5 4
10 9 8 7

6)

In [7]:
def printPascal(n) :
    for i in range(0, n) :
        for j in range(0, i + 1) :
            print(function(i, j)," ", end = "")
        print()
     
 
def function(n, k) :
    res = 1
    if (k > n - k) :
        k = n - k
    for i in range(0 , k) :
        res = res * (n - i)
        res = res // (i + 1)
     
    return res

n = 7
printPascal(n)

1
1  1
1  2  1
1  3  3  1
1  4  6  4  1
1  5  10  10  5  1
1  6  15  20  15  6  1

7)

In [8]:
n = int(input("Enter the number of rows:"))
for i in range(1, n+1):
  for j in range(1, n+1):
    if j<=i:
      print(i,end=' ')
    else:
      print(j,end=" ")
  print()

Enter the number of rows:5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

8)

In [9]:
n = int(input("Enter the number of rows:"))
for i in range(1, n+1):
  for j in range(1, i+1):
    print(i*j, end=' ')
  print()

Enter the number of rows:8
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

9)

In [10]:
n = 5
k = 2*n-2
for i in range(n, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print(" ")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

10)

In [11]:
n = int(input("Enter the number of rows:"))
m = 2*n-2
for i in range(0,n):
    for j in range(0,m):
        print(end=" ")
    m = m-1
    for j in range(0, i + 1):
        print("*", end=" ")
    print(" ")

Enter the number of rows:8
              *
             * *
            * * *
           * * * *
          * * * * *
         * * * * * *
        * * * * * * *
       * * * * * * * *

11)

In [12]:
n = int(input("Enter the number of rows:"))

#1st pattern

for i in range(0,n):
  for j in range(0,i+1):
    print("*",end=" ")
  print(" ")

print("                 ")
#2nd pattern
for i in range(n+1,0,-1):
  for j in range(0,i-1):
    print("*",end=" ")
  print(" ")

Enter the number of rows:7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

12)

In [20]:
def pattern(n):
  for i in range(0,n):
    for j in range(0,i+1):
      print("*",end=" ")
    print()
  for i in range(n, 0, -1):
    for j in range(0,i+1):
      print("*",end=" ")
    print() 
pattern(5)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *

13)

In [17]:
def pattern(n):
  k = 2*n-2
  for i in range(0,n-1):
    for j in range(0,k):
      print(end=" ")
    k = k-2
    for j in range(0,i+1):
      print("*",end=" ")
    print()  
  k = -1
  for i in range(n-1,-1,-1):
    for j in range(k,-1,-1):
      print(end=" ")
    k = k+2 
    for j in range(0,i+1):
      print("*",end=" ")
    print()
    
pattern(5)

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

14)

In [18]:
def pattern(n):
 
    # for loop for printing upper half
    for i in range(1, n + 1):
        for k in range(1, i):
            print(" ", end = "")
        for j in range(i, n + 1):
            print("*", end = " ")
        print()
     
    # for loop for printing lower half
    for i in range(n - 1, 0, -1):
        for k in range(1, i):
            print(" ", end = "")
        for j in range(i, n + 1):
            print("*", end = " ")
        print()
     
 
pattern(7)

* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

15)

In [19]:
n = int(input("enter number of rows :"))
print("*"*n, end="\n")
i = (n // 2) -1
j = 2
while i !=0:
  while j <=(n -2):
    print("*" * i,end ="")
    print("_" * j,end ="")
    print("*" * i,end ="\n")
    i =i -1
    j = j +2

enter number of rows :15
***************
******__******
*****____*****
****______****
***________***
**__________**
*____________*